<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b4c3ab">  <td>17/02/26 15:01:54</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestLoginExam.afterMethod()[pri:0, instance:page.testcase.TestLoginExam@18be83e4]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@237351678</td>   <td></td> </tr>
<tr bgcolor="b4c3ab">  <td>17/02/26 15:02:00</td>   <td>5344</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestLoginExam.afterMethod()[pri:0, instance:page.testcase.TestLoginExam@18be83e4]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@237351678</td>   <td></td> </tr>
<tr bgcolor="b4c3ab">  <td>17/02/26 15:01:19</td>   <td>-35132</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestLoginExam.beforeMethod()[pri:0, instance:page.testcase.TestLoginExam@18be83e4]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@237351678</td>   <td></td> </tr>
<tr bgcolor="b4c3ab">  <td>17/02/26 15:01:56</td>   <td>1382</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestLoginExam.beforeMethod()[pri:0, instance:page.testcase.TestLoginExam@18be83e4]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@237351678</td>   <td></td> </tr>
<tr bgcolor="b4c3ab">  <td>17/02/26 15:01:23</td>   <td>-31013</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestLoginExam.testLogin(java.lang.String, java.lang.String)[pri:0, instance:page.testcase.TestLoginExam@18be83e4]">testLogin</td> 
  <td>main@237351678</td>   <td></td> </tr>
<tr bgcolor="b4c3ab">  <td>17/02/26 15:01:59</td>   <td>4520</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestLoginExam.testLogin(java.lang.String, java.lang.String)[pri:0, instance:page.testcase.TestLoginExam@18be83e4]">testLogin</td> 
  <td>main@237351678</td>   <td></td> </tr>
</table>
