#main{
	text-align: center;
	width: 960px;
}
label {
	color: white;
	font-weight: bold;
}
td {
	border: 1px solid grey;
	color: white;
}
table {
	background: #4682B4;
	border-collapse: collapse;
	border: 1px solid grey;
}
input {
	color: 
}
.textbox {
	border: 1px dotted;
	color: red;
}
.required {
	color: red;
}